

.center-content {

    align-items: center;

  }

.title {
  position: relative;
  font-size: 4vw; /* The text size will be 5% of the viewport width */
  top: 30px; /* Adjust this value as needed */
}